.browser-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10.7rem;
  flex-direction: column;
  padding-bottom: 5.6rem;
  margin-bottom: 5.6rem;
}

.browser-title {
  font-size: 3.2rem;
  font-weight: 700;
}

.menu-list-browser {
  margin: 9.1rem 0 5.6rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu-list-browser img {
  border-radius: 1rem;
  width: 38.1rem;
  height: auto;
  margin-bottom: 3rem;
  transition: transform 0.3s ease, box-shadow 0.3s 
}

.menu-list-browser a:hover img {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.menu-list-browser h2 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
}