.filter-menu-container {
  background-color: #F9F1E7;
  margin-top: -1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin-bottom: 2rem;
}

.filter-menu {
  width: 123.6rem;
  height: 5.5rem;
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-icon {
  display: flex;
}

.filter-icon p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  margin-right: 2.3rem;
}

.filter-display {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.filter-display p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}

.show-options-container, .sort-options {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.mode-icon, .display-icon, .filter-sidebar {
  margin-right: 3rem;
}

.filter-sidebar {
  height: 3.7rem;
  border-left: .2rem solid #9F9F9F;
  padding-left: 3rem;
  align-items: center;
  display: flex;
}

.show-label, .sort-by-label {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  margin-right: 1.7rem;
}

.sort-by-label {
  margin-left: 3rem;
}




