footer {
  max-width: 144rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-top: .1rem solid #D9D9D9;;
}

.footer {
  margin-bottom: 4rem;
}

.footer-container {
  display: grid;
  margin: 4.8rem 0 5rem 0;
  gap: 11.35rem;
  grid-template-columns: 30rem 7rem 14.2rem 30rem;
}

.logo-footer {
  color: #000;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.subtitle-footer {
  margin-top: 5.5rem;
}

.footer-content p {
  color: #9F9F9F;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.footer-section h3 {
  color: #9F9F9F;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-top: .9rem;
}

.inner-ul {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  gap: 4.6rem;
}

.inner-ul li {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.divider-footer {
  display: flex;
  border: .1rem solid #D9D9D9;
  width: 124rem;
  border-width: 0.01rem;
  margin-bottom: 3.5rem;
}

.footer-copyright span {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

#form-news {
  margin-top: 5rem;
}

#email {
  width: 20rem;
  margin-right: 1rem;
  border-bottom: .1rem solid #000;
  padding: .4rem 0 .3rem 0;
}

.email-input input:focus {
  outline: none;
  border: none;
}

#email::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #9F9F9F;
}

#form-news button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
  border-bottom: .1rem solid #000;
}