.pagination {
  display: flex;
  gap: 3.8rem;
  margin: 7rem auto 8.5rem;
  justify-content: center;
}

.pagination button {
  font-family: "Poppins", sans-serif;
  line-height: 3rem;
  font-weight: 400;
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  background-color: #F9F1E7;
  cursor: pointer;
  transition: transform 0.2s ease,
}

.pagination button.active, .pagination button.active:hover {
  background-color: #B88E2F;
  color: white;
}

.pagination button:hover {
  transform: scale(0.96);
  background-color: #efe7de;
}

.pagination .next-button {
  color: #000;
  width: 9.8rem;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}

